<h1>Home#index</h1>
<br>
<ul>
  <li><a href="<%= students_path %>">Alunos</a></li>
  <li><a href="<%= disciplines_path %>">Disciplinas</a></li>
  <li><a href="<%= semesters_path %>">Semestres</a></li>
  <li><a href="<%= subscriptions_path %>">Inscrições</a></li>
</ul>
